Cleaning up of customers_dataset.csv - removing the duplicated 'customer_unique_id'

In [2]:
import pandas as pd

In [10]:
customer = pd.read_csv('/Users/macbookair/DSAI repositories/Module 2 project - datapipeline/data/olist_customers_dataset.csv')
print(customer.head())

                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP
3                      8775        mogi das cruzes             SP
4                     13056               campinas             SP

In [68]:
customer.describe(include ='all')

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
count,99441,99441,99441.000000,99441,99441
unique,99441,96096,NaN,4119,27
top,06b8999e2fba1a1fbc88172c00ba8bc7,8d50f5eadf50201ccdcedfb9e2ac8455,NaN,sao paulo,SP
freq,1,17,NaN,15540,41746
mean,NaN,NaN,35137.474583,NaN,NaN
std,NaN,NaN,29797.938996,NaN,NaN
min,NaN,NaN,1003.000000,NaN,NaN
25%,NaN,NaN,11347.000000,NaN,NaN
50%,NaN,NaN,24416.000000,NaN,NaN
75%,NaN,NaN,58900.000000,NaN,NaN
max,NaN,NaN,99990.000000,NaN,NaN

In [65]:
customer.dtypes

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

In [11]:
print(customer.isna().any())

customer_id                 False
customer_unique_id          False
customer_zip_code_prefix    False
customer_city               False
customer_state              False
dtype: bool

In [12]:
customer.isnull().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [28]:
result_id = customer["customer_id"].nunique()
print(result_id)

99441

In [ ]:
result_unique_id = customer["customer_unique_id"].nunique()
print (result_unique_id)

96096

In [ ]:
#to check if duplicates where cutomer_id is the same
duplicates = customer[customer.duplicated(subset =['customer_unique_id'], keep = False)]
print(duplicates)

                            customer_id                customer_unique_id  \
5      879864dab9bc3047522c92c82e1212b8  4c93744516667ad3b8f1fb645a3116a4
8      5adf08e34b2e993982a47070956c5c65  1175e95fb47ddff9de6b2b06188f7e0d
13     eabebad39a88bb6f5b52376faec28612  295c05e81917928d76245e842748184d
32     2d5831cb2dff7cdefba62e950ae3dc7b  e9dd12dca17352644a959d9dea133935
33     b2bed119388167a954382cca36c4777f  e079b18794454de9d2be5c12b4392294
...                                 ...                               ...
99324  5b46a0d983eec8c97363bea78d4a69dd  8bab3162259edfaadd1ea2e1fe7f58dc
99327  c1affa46f9f3b514555259049a0307b9  12ab9334b1240d6d037f2b0102a49571
99336  ebf46ff530343a129926adc1f831dea4  0ee57f62666561b72f2ceacad0230cbf
99353  282fbce48e4d2077aad602dd125c9225  0ceb502fc33a2ad327b08288c5310e2e
99406  d9110683c7a282144e9fc97660026a28  5cbfdb85ec130898108b32c50d619c39

       customer_zip_code_prefix         customer_city customer_state
5                         89254        jaragua do sul             SC
8                         81560              curitiba             PR
13                         5704             sao paulo             SP
32                        42800              camacari             BA
33                        27525               resende             RJ
...                         ...                   ...            ...
99324                     31565        belo horizonte             MG
99327                     38050               uberaba             MG
99336                      9530    sao caetano do sul             SP
99353                     29134                 viana             ES
99406                     74980  aparecida de goiania             GO

[6342 rows x 5 columns]

In [31]:
duplicated_customer_id = customer[customer.duplicated(subset = ['customer_id'], keep= False)]
print(duplicated_customer_id)

Empty DataFrame
Columns: [customer_id, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state]
Index: []

In [32]:
customer_counts = customer.groupby('customer_unique_id').size()
print(customer_counts.describe())

count    96096.000000
mean         1.034809
std          0.214384
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max         17.000000
dtype: float64

In [36]:
customer_no_duplicates = customer.drop_duplicates(subset =('customer_unique_id'), keep='first')
print(customer_no_duplicates.describe)

<bound method NDFrame.describe of                             customer_id                customer_unique_id  \
0      06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1      18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2      4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3      b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4      4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066
...                                 ...                               ...
99436  17ddf5dd5d51696bb3d7c6291687be6f  1a29b476fee25c95fbafc67c5ac95cf8
99437  e7b71a9017aa05c9a7fd292d714858e8  d52a67c98be1cf6a5c84435bd38d095d
99438  5e28dfe12db7fb50a4b2f691faecea5e  e9f50caf99f032f0bf3c55141f019d99
99439  56b18e2166679b8a959d72dd06da27f9  73c2643a0a458b49f58cea58833b192e
99440  274fa6071e5e17fe303b9748641082c8  84732c5050c01db9b23e19ba39899398

       customer_zip_code_prefix          customer_city customer_state
0                         14409                 franca             SP
1                          9790  sao bernardo do campo             SP
2                          1151              sao paulo             SP
3                          8775        mogi das cruzes             SP
4                         13056               campinas             SP
...                         ...                    ...            ...
99436                      3937              sao paulo             SP
99437                      6764        taboao da serra             SP
99438                     60115              fortaleza             CE
99439                     92120                 canoas             RS
99440                      6703                  cotia             SP

[96096 rows x 5 columns]>

In [38]:
customer_no_duplicates.to_csv('customer_no_duplicates.csv', index = False)
print("Dataframe has been exported to 'customer_no_duplicates.csv'")

Dataframe has been exported to 'customer_no_duplicates.csv'

Cleaning up of order_items_dataset

In [51]:
order_item_df= pd.read_csv('/Users/macbookair/DSAI repositories/Module 2 project - datapipeline/data/olist_order_items_dataset.csv')
print(order_item_df.head())

                           order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  00018f77f2f0320c557190d7a144bdd3              1
2  000229ec398224ef6ca0657da4fc703e              1
3  00024acbcdf0a6daa1e931b038114c75              1
4  00042b26cf59d7ce69dfabb4e55b4fd9              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
2  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d
3  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
4  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87

   shipping_limit_date   price  freight_value
0  2017-09-19 09:45:35   58.90          13.29
1  2017-05-03 11:05:13  239.90          19.93
2  2018-01-18 14:48:30  199.00          17.87
3  2018-08-15 10:10:18   12.99          12.79
4  2017-02-13 13:57:51  199.90          18.14

In [67]:
order_item_df.describe(include = 'all')

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
count,112650,112650.000000,112650,112650,112650,112650.000000,112650.000000
unique,98666,NaN,32951,3095,93318,NaN,NaN
top,8272b63d03f5f79c56e9e4120aec44ef,NaN,aca2eb7d00ea1a7b8ebd4e68314663af,6560211a19b47992c3666cc44a7e94c0,2017-07-21 18:25:23,NaN,NaN
freq,21,NaN,527,2033,21,NaN,NaN
mean,NaN,1.197834,NaN,NaN,NaN,120.653739,19.990320
std,NaN,0.705124,NaN,NaN,NaN,183.633928,15.806405
min,NaN,1.000000,NaN,NaN,NaN,0.850000,0.000000
25%,NaN,1.000000,NaN,NaN,NaN,39.900000,13.080000
50%,NaN,1.000000,NaN,NaN,NaN,74.990000,16.260000
75%,NaN,1.000000,NaN,NaN,NaN,134.900000,21.150000
max,NaN,21.000000,NaN,NaN,NaN,6735.000000,409.680000

In [53]:
order_item_df.isna().any()

order_id               False
order_item_id          False
product_id             False
seller_id              False
shipping_limit_date    False
price                  False
freight_value          False
dtype: bool

In [54]:
order_item_df.isnull().any()

order_id               False
order_item_id          False
product_id             False
seller_id              False
shipping_limit_date    False
price                  False
freight_value          False
dtype: bool

In [ ]:
order_item_df.nunique()

order_id               98666
order_item_id             21
product_id             32951
seller_id               3095
shipping_limit_date    93318
price                   5968
freight_value           6999
dtype: int64

In [75]:
has_duplicates = order_item_df.duplicated().any()
if has_duplicates:
    print("There are duplicated rows in the dataframe")
else:
    print("There are no duplicated rows in the dataframe")

There are no duplicated rows in the dataframe

In [76]:
duplicated_order_id = order_item_df[order_item_df.duplicated(subset=['order_id'], keep=False)]
print(duplicated_order_id)

                                order_id  order_item_id  \
13      0008288aa423d2a3f00fcb17cd7d8719              1
14      0008288aa423d2a3f00fcb17cd7d8719              2
32      00143d0f86d6fbd9f9b38ab440ac16f5              1
33      00143d0f86d6fbd9f9b38ab440ac16f5              2
34      00143d0f86d6fbd9f9b38ab440ac16f5              3
...                                  ...            ...
112635  fff8287bbae429a99bb7e8c21d151c41              2
112640  fffb9224b6fc7c43ebb0904318b10b5f              1
112641  fffb9224b6fc7c43ebb0904318b10b5f              2
112642  fffb9224b6fc7c43ebb0904318b10b5f              3
112643  fffb9224b6fc7c43ebb0904318b10b5f              4

                              product_id                         seller_id  \
13      368c6c730842d78016ad823897a372db  1f50f920176fa81dab994f9023523100
14      368c6c730842d78016ad823897a372db  1f50f920176fa81dab994f9023523100
32      e95ee6822b66ac6058e2e4aff656071a  a17f621c590ea0fab3d5d883e1630ec6
33      e95ee6822b66ac6058e2e4aff656071a  a17f621c590ea0fab3d5d883e1630ec6
34      e95ee6822b66ac6058e2e4aff656071a  a17f621c590ea0fab3d5d883e1630ec6
...                                  ...                               ...
112635  bee2e070c39f3dd2f6883a17a5f0da45  4e922959ae960d389249c378d1c939f5
112640  43423cdffde7fda63d0414ed38c11a73  b1fc4f64df5a0e8b6913ab38803c57a9
112641  43423cdffde7fda63d0414ed38c11a73  b1fc4f64df5a0e8b6913ab38803c57a9
112642  43423cdffde7fda63d0414ed38c11a73  b1fc4f64df5a0e8b6913ab38803c57a9
112643  43423cdffde7fda63d0414ed38c11a73  b1fc4f64df5a0e8b6913ab38803c57a9

        shipping_limit_date   price  freight_value
13      2018-02-21 02:55:52   49.90          13.37
14      2018-02-21 02:55:52   49.90          13.37
32      2017-10-20 16:07:52   21.33          15.10
33      2017-10-20 16:07:52   21.33          15.10
34      2017-10-20 16:07:52   21.33          15.10
...                     ...     ...            ...
112635  2018-03-27 12:29:22  180.00          48.14
112640  2017-11-03 02:55:58   55.00          34.19
112641  2017-11-03 02:55:58   55.00          34.19
112642  2017-11-03 02:55:58   55.00          34.19
112643  2017-11-03 02:55:58   55.00          34.19

[23787 rows x 7 columns]

In [88]:
order_item_no_duplicate = order_item_df.drop_duplicates(subset =['order_id'], keep='last')
print(order_item_no_duplicate)

                                order_id  order_item_id  \
0       00010242fe8c5a6d1ba2dd792cb16214              1
1       00018f77f2f0320c557190d7a144bdd3              1
2       000229ec398224ef6ca0657da4fc703e              1
3       00024acbcdf0a6daa1e931b038114c75              1
4       00042b26cf59d7ce69dfabb4e55b4fd9              1
...                                  ...            ...
112645  fffc94f6ce00a00581880bf54a75a037              1
112646  fffcd46ef2263f404302a634eb57f7eb              1
112647  fffce4705a9662cd70adb13d4a31832d              1
112648  fffe18544ffabc95dfada21779c9644f              1
112649  fffe41c64501cc87c801fd61db3f6244              1

                              product_id                         seller_id  \
0       4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1       e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
2       c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d
3       7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
4       ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87
...                                  ...                               ...
112645  4aa6014eceb682077f9dc4bffebc05b0  b8bc237ba3788b23da09c0f1f3a3288c
112646  32e07fd915822b0765e448c4dd74c828  f3c38ab652836d21de61fb8314b69182
112647  72a30483855e2eafc67aee5dc2560482  c3cfdc648177fdbbbb35635a37472c53
112648  9c422a519119dcad7575db5af1ba540e  2b3e4a2a3ea8e01938cabda2a3e5cc79
112649  350688d9dc1e75ff97be326363655e01  f7ccf836d21b2fb1de37564105216cc1

        shipping_limit_date   price  freight_value
0       2017-09-19 09:45:35   58.90          13.29
1       2017-05-03 11:05:13  239.90          19.93
2       2018-01-18 14:48:30  199.00          17.87
3       2018-08-15 10:10:18   12.99          12.79
4       2017-02-13 13:57:51  199.90          18.14
...                     ...     ...            ...
112645  2018-05-02 04:11:01  299.99          43.41
112646  2018-07-20 04:31:48  350.00          36.53
112647  2017-10-30 17:14:25   99.90          16.95
112648  2017-08-21 00:04:32   55.99           8.72
112649  2018-06-12 17:10:13   43.00          12.79

[98666 rows x 7 columns]

In [91]:
order_item_no_duplicate.describe()

       order_item_id         price  freight_value
count   98666.000000  98666.000000   98666.000000
mean        1.141731    125.883144      20.179411
std         0.538452    191.166764      15.855944
min         1.000000      0.850000       0.000000
25%         1.000000     41.492500      13.280000
50%         1.000000     79.000000      16.350000
75%         1.000000    139.900000      21.220000
max        21.000000   6735.000000     409.680000

In [93]:
order_item_no_duplicate.to_csv('order_item_no_duplicate.csv', index = False)
print("Dataframe has been exported to 'order_item_no_duplicate.csv'")

Dataframe has been exported to 'order_item_no_duplicate.csv'